
// background-color:
$color-sidebar: #0E1920;
$color-content: #412C3A;
$color-logo: linear-gradient(90deg, #EE10B0 -4.82%, rgba(14, 158, 239, 0.92) 127.01%);
//icons
$font-icon-with:25px;
$font-icon-height:25px;
$color-icon-font-size-smw:15px;
$color-icon-font-size-smh:15px;
$font-icon-background-hover:rgba(255, 55, 128, 0.20);
// text  color
$color-text:#FFF;
$color-text-font-size-l:24px;
$color-text-font-size-m:20px;
$color-text-item:#EE10B0;
$color-text-item-2:#0E9EEF;
//text font size
$color-text-font-size-l:32px;
$color-text-font-size-xs:16px;
$color-text-font-size-s:12px;
// border-radius 
$border-radius-base: 10px;
$border-radius-sm: 0.4px;
$border-radius-lg: 100px;
// bacrow
$color-background: #FF26C2;
